.quantityControls{
  margin-right: 15px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.cartTotal {
  text-decoration:underline;
  border-bottom: 1px solid #000;
}

#totalPriceList{
  list-style-type: none;
}
