<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pizzaOrder</title>
    <script src="vue.js"></script>
  </head>
  <body>
    <form id="pizzaOrder" action="index.html" method="post">
      <ul>
        <!--cart items here-->
        <li v-for="pizza in cart">
          <span v-if="pizza.count">{{pizza.count}}x </span>
          <span>{{pizza.title}}</span>
          <span>{{pizza.price}}</span>
          <ul>
            <li v-for="ingredient in pizza.ingredients">{{ingredient}}</li>
          </ul>
          <button v-on:click="removePizzaFromCart($index)">X</button>
        </li>
        <!--total price-->
        <span v-if="cartTotal">total: {{cartTotal}}</span>
      </ul>
      <select v-model="selectedPizza" name="pizzaSelection">
          <option v-for="pizza in pizzas" v-bind:value="pizza">{{pizza.title}}</option>
      </select>
      <button v-on:click="addPizzaToCart(selectedPizza)" type="button" name="addPizzaToCart">Add</button><br>
      <label>Tel
        <input v-on:blur="updateLocalStorage($event)" v-model="userData.tel" type="text" name="tel" placeholder="078 884 52 14"><br>
      </label>
      <label>Name
        <input v-on:blur="updateLocalStorage($event)" v-model="userData.name" type="text" name="name" placeholder="Max Muster"><br>
      </label>
      <label>Strasse
        <input v-on:blur="updateLocalStorage($event)" v-model="userData.street" type="text" name="street" placeholder="Musterstrasse 42"><br>
      </label>
      <label>PLZ
        <input v-on:blur="updateLocalStorage($event)" v-model="userData.plz" type="number" name="plz" placeholder="8590"><br>
      </label>
      <label>Ort
        <input v-on:blur="updateLocalStorage($event)" v-model="userData.place" type="text" name="place" placeholder="Romanshorn"><br>
      </label>
    </form>
    <script src="main.js"></script>
  </body>
</html>
