<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>pizzaOrder</title>
  <script src="vue.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="css/master.css" charset="utf-8">
</head>
<body>
  <form id="pizzaOrder" action="index.html" method="post">
    <div class="center-block">
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li v-for="category in categories">{{category.name}}
              <ul>
                <li v-for="item in category.items">{{item.title}}</li>
              </ul>
            </li>
          </ul>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div v-for="category in categories" class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading{{$index}}">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">
                    {{category.name}}
                  </a>
                </h4>
              </div>
              <div id="collapse{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{$index}}">
                <div class="panel-body">
                  <ul class="list-group">
                    <li v-for="item in category.items" class="list-group-item" v-bind:class="{ 'active': item.count }">
                      <span v-if="item.count > 0" class="badge">{{item.count}}</span>
                      <div class="pull-left quantityControls">
                        <button v-on:click.prevent.stop="addItemToCart($index, $parent.$index)" class="pull-left btn btn-info">+</button>
                        <button class="pull-left btn btn-warning" v-if="item.count" v-on:click.prevent.stop="removeItem($index, $parent.$index)">-</button>
                      </div>
                      <h4 class="list-group-item-heading">{{item.title}} <span class="price">{{item.price | numberRepresentation}} CHF</span></h4>
                      <p class="list-group-item-text">{{item.descr}}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="tel" class="col-xs-2 control-label">Tel</label>
              <div class="col-xs-10">
                <input class="form-control" v-on:blur="updateLocalStorage($event)" v-model="userData.tel" type="text" name="tel" placeholder="078 884 52 14">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-xs-2 control-label">Name</label>
              <div class="col-xs-10">
                <input class="form-control" v-on:blur="updateLocalStorage($event)" v-model="userData.name" type="text" name="name" placeholder="John Doe">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-xs-2 control-label">Strasse</label>
              <div class="col-xs-10">
                <input class="form-control" v-on:blur="updateLocalStorage($event)" v-model="userData.street" type="text" name="street" placeholder="Musterstrasse 42">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-xs-2 control-label">PLZ</label>
              <div class="col-xs-10">
                <input id="postal" class="form-control" v-on:blur="updateLocalStorage($event)" v-model="userData.plz" type="number" name="plz" placeholder="8590">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-xs-2 control-label">Ort</label>
              <div class="col-xs-10">
                <input id="place" class="form-control" v-on:blur="updateLocalStorage($event)" v-model="userData.place" type="text" name="place" placeholder="Romanshorn">
              </div>
            </div>
            <div class="form-group vertical-align">
              <div class="col-xs-offset-2 col-xs-5">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Bestellen</button>
              </div>
              <div class="col-xs-5">
                <span v-text="cartTotal | numberRepresentation" class="cartTotal">Total: {{cartTotal}}Chf</span> inkl. MwSt.
              </div>
            </div>
            <!--BS stuff-->
            <ul>
              <li v-for="pizza in pizzas" v-if="pizza.count > 0">{{pizza.count}}x {{pizza.title}} - {{pizza.count * pizza.price | numberRepresentation}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script src="main.js"></script>
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
